# IDE files / folders
.idea

# Logs
*.log

# NPM
node_modules

# Project
config/
docker-compose.env
src/app/frontend/static/dist
src/app/backend/rethinkdb_data
src/app/backend/heapdump-*
src/app/backend/uploads
